body {
    background-color: lightblue;
}

p {
    background-color: orange;
}

div {
    front-size: 10px;
}

img {
    margin: auto;
    display: block;
    border-color: black;
    border-width: medium;
    border-style: dashed;
    border-radius: 25px;
}

.List{
    list-style-type: upper-roman;
    list-style-position: inside;
    position: absolute;
    top: 2px;
    right: 450px;
    visibility: visible;
}
a{
    text-decoration: none;
}
a:link{
    color:#4CAF50;
}
a:visited{
    color:#c08e8e;
}
a:active{
    color:#7bd7b4;
}
a:hover{
    margin-top:5px;
    margin-left:2px;
    margin-weight: bold;
}
p::first-letter{
    front-size:45px;
}
li:nth-child(2){
    background-color: red;
}